# =============================================
# IntelliMart Backend - Environment Variables (EXAMPLE)
# Copy file ini menjadi .env dan sesuaikan nilainya
# =============================================

PORT=5000
NODE_ENV=development

DB_HOST=153.92.15.23
DB_PORT=3306
DB_NAME=u203366347_intellimart
DB_USER=u203366347_intellimart
DB_PASSWORD=Itenas@SSIP26

CORS_ORIGIN=http://localhost:3000
